In [10]:
import pandas as pd

# 1. Load the CSV
df = pd.read_csv("/Users/noah/NMR_filtering-1/cs_stat_aa_filt.csv")

df["lower_5sd"] = df["avg"] - 5 * df["std"]
df["upper_5sd"] = df["avg"] + 5 * df["std"]

df["range_5sd"] = "[" + df["lower_5sd"].round(3).astype(str) + ", " + df["upper_5sd"].round(3).astype(str) + "]"



df.head(20)

,comp_id,atom_id,count,min,max,avg,std,num_outliers,lower_5sd,upper_5sd,range_5sd
0,ALA,H,86669,3.530,13.9288,8.195,0.572,930,5.335,11.055,"[5.335, 11.055]"
1,ALA,HA,52354,0.870,6.5140,4.238,0.420,1573,2.138,6.338,"[2.138, 6.338]"
2,ALA,MB,50305,-0.830,3.4106,1.357,0.243,1590,0.142,2.572,"[0.142, 2.572]"
3,ALA,C,56564,164.477,187.2000,177.816,2.026,479,167.686,187.946,"[167.686, 187.946]"
4,ALA,CA,76688,35.770,72.2520,53.140,1.924,381,43.520,62.760,"[43.52, 62.76]"
5,ALA,CB,72257,6.606,40.3200,18.957,1.744,1385,10.237,27.677,"[10.237, 27.677]"
6,ALA,N,83101,98.053,142.8100,123.380,3.418,899,106.290,140.470,"[106.29, 140.47]"
7,ARG,H,57072,3.566,12.6900,8.235,0.595,547,5.260,11.210,"[5.26, 11.21]"
8,ARG,HA,35829,1.291,6.6180,4.285,0.443,718,2.070,6.500,"[2.07, 6.5]"
9,ARG,HB2,32072,-0.611,3.7400,1.795,0.255,869,0.520,3.070,"[0.52, 3.07]"
10,ARG,HB3,30298,-0.740,3.7400,1.766,0.267,835,0.431,3.101,"[0.431, 3.101]"
11,ARG,HD2,27943,1.041,4.8490,3.118,0.227,995,1.983,4.253,"[1.983, 4.253]"
12,ARG,HD3,25399,0.199,4.6890,3.103,0.256,832,1.823,4.383,"[1.823, 4.383]"
13,ARG,HE,8684,2.201,11.8800,7.355,0.564,476,4.535,10.175,"[4.535, 10.175]"
14,ARG,HG2,28494,-0.688,3.5100,1.567,0.260,846,0.267,2.867,"[0.267, 2.867]"
15,ARG,HG3,26398,-0.742,3.5100,1.547,0.278,836,0.157,2.937,"[0.157, 2.937]"
16,ARG,HH11,696,5.642,9.8200,6.895,0.430,37,4.745,9.045,"[4.745, 9.045]"
17,ARG,HH12,542,5.920,8.7600,6.845,0.357,27,5.060,8.630,"[5.06, 8.63]"
18,ARG,HH21,597,4.845,9.6630,6.807,0.396,37,4.827,8.787,"[4.827, 8.787]"
19,ARG,HH22,491,5.920,8.7760,6.796,0.350,40,5.046,8.546,"[5.046, 8.546]"

In [8]:
df.sort_values(by = "atom_id", inplace = True)

df.head()

,comp_id,atom_id,count,min,max,avg,std,num_outliers,lower_5Sd,upper_5Sd
120,ILE,C,37843,166.403,187.551,175.971,1.869,284,166.626,185.316
3,ALA,C,56564,164.477,187.200,177.816,2.026,479,167.686,187.946
135,LEU,C,63134,166.222,189.780,177.107,1.900,469,167.607,186.607
83,GLU,C,57227,166.800,183.598,176.933,1.874,371,167.563,186.303
152,LYS,C,51038,166.633,185.000,176.729,1.893,342,167.264,186.194