In [66]:
import pandas as pd

# 1. Load the CSV
df = pd.read_csv("/Users/noah/NMR_filtering-1/cs_stat_aa_filt.csv")

df["lower_5sd"] = df["avg"] - 5 * df["std"]
df["upper_5sd"] = df["avg"] + 5 * df["std"]

df["range_5sd"] = "[" + df["lower_5sd"].round(3).astype(str) + ", " + df["upper_5sd"].round(3).astype(str) + "]"


df = df[df["atom_id"].str.startswith("C")]


df["atom_id"].unique().tolist()

['C',
 'CA',
 'CB',
 'CD',
 'CG',
 'CZ',
 'CD2',
 'CE1',
 'CD1',
 'CG1',
 'CG2',
 'CE',
 'CE2',
 'CE3',
 'CH2',
 'CZ2',
 'CZ3']

In [65]:
df.sort_values(by = "atom_id", inplace = True)

print(df["comp_id"].nunique())
print(df["atom_id"].nunique())
df.head()

20
17

,comp_id,atom_id,count,min,max,avg,std,num_outliers,lower_5sd,upper_5sd,range_5sd
3,ALA,C,56564,164.477,187.200,177.816,2.026,479,167.686,187.946,"[167.686, 187.946]"
168,MET,C,15610,165.891,185.212,176.259,2.026,78,166.129,186.389,"[166.129, 186.389]"
201,PRO,C,29274,168.381,183.423,176.771,1.444,415,169.551,183.991,"[169.551, 183.991]"
152,LYS,C,51038,166.633,185.000,176.729,1.893,342,167.264,186.194,"[167.264, 186.194]"
135,LEU,C,63134,166.222,189.780,177.107,1.900,469,167.607,186.607,"[167.607, 186.607]"

In [63]:
CA_DF = df[df["atom_id"] == "ILE"].copy()
CA_DF.sort_values(by = "upper_5sd", inplace = True, ascending = True)

print(CA_DF["comp_id"].nunique())
CA_DF.head(50)

1

,comp_id,atom_id,count,min,max,avg,std,num_outliers,lower_5sd,upper_5sd,range_5sd
123,ILE,CD1,31617,1.358,31.913,13.390,1.634,700,5.220,21.560,"[5.22, 21.56]"
125,ILE,CG2,29050,3.448,37.008,17.519,1.306,690,10.989,24.049,"[10.989, 24.049]"
124,ILE,CG1,27342,8.767,42.087,27.755,1.699,431,19.260,36.250,"[19.26, 36.25]"
122,ILE,CB,47938,18.100,51.876,38.529,1.976,420,28.649,48.409,"[28.649, 48.409]"
121,ILE,CA,51976,39.563,71.856,61.678,2.675,121,48.303,75.053,"[48.303, 75.053]"
120,ILE,C,37843,166.403,187.551,175.971,1.869,284,166.626,185.316,"[166.626, 185.316]"

In [ ]:
## in the CB atom_id filter PHO is missing
## in the CG atom_id filter many are missing


#upper CB max: 78.143
#lower CB min: .653

#Upper CB excluding THR and SER: 66.213
#CYS range is fucking massive so this might be best to change later

#upper CA max: 76.647
#lower CA min: 39.925

#upper CG max: 41.985
#lower CG min: 169.153